extends layout

block extrahead
  script(src="javascripts/full_system.js", type="text/javascript")
  script(src="javascripts/highcharts.js", type="text/javascript")
  link(href="stylesheets/full_system.css", rel="stylesheet")
  link(href="stylesheets/highcharts.css", rel="stylesheet")


block content
  div.main-container

    span
      strong Group readings by: &nbsp;
    select#reading_grouping(onchange="GetGroupedReadings()")
      option(value="subsystem") Subsystem
      option(value="sensor") Sensor
      option(value="topic" selected) Topic
    div.reading-div
      table.reading-table#reading_table

  script.
    $(document).ready(function () {
      GetGroupedReadings();
      PopulateReadings();
    });
    window.onclick = function(event) {
      if (event.target == document.getElementById("readingbox")) event.target.style.display = 'none';
      if (event.target == document.getElementById("sensorbox")) event.target.style.display = 'none';
    }
