extends layout

block extrahead
  script(src="javascripts/full_system.js", type="text/javascript")
  script(src="javascripts/highcharts.js", type="text/javascript")
  link(href="stylesheets/full_system.css", rel="stylesheet")
  link(href="stylesheets/highcharts.css", rel="stylesheet")


block content
  div.main-container

    span
      strong Group sensors by: &nbsp;
    select#sensor_grouping(onchange="GetGroupedSensors()")
      option(value="subsystem") Subsystem
      option(value="device") Readout Device
      option(value="topic" selected) Topic
    div.sensor-div
      table.table.table-striped.table-hover#sensor_table

  script.
    $(document).ready(function () {
      GetGroupedSensors();
      PopulateSensors();
      setInterval(UpdateOnce, 5000);
    });
