extends layout

block extrahead
  link(href="stylesheets/full_system.css", rel="stylesheet")
  script(src="javascripts/full_system.js", type="text/javascript")

block content
  div.main-container

    span
      strong Group sensors by: &nbsp;
    select#sensor_grouping(onchange="GetGroupedSensors()")
      option(value="subsystem" selected) Subsystem
      option(value="device") Readout Device
      option(value="topic") Topic
    div.sensor-div
      table.table.table-striped.table-hover#sensor_table

  script.
    $(document).ready(function () {
      GetGroupedSensors();
      PopulateSensors();
      setInterval(UpdateOnce, 5000);
    });
