extends layout

block extrahead
  link(href="stylesheets/full_system.css", rel="stylesheet")
  script(src="javascripts/full_system.js", type="text/javascript")

block content
  div.main-container
    span
      strong Group sensors by: &nbsp;
    #sensor_grouping.btn-group.py-3(role='group')
      input#groupSubsystem.btn-check(type="radio" name="btnradio" value="subsystem" autocomplete="off" onclick="GetGroupedSensors()" checked="")
      label.btn.btn-outline-primary(for="groupSubsystem") Subsystem
      input#groupSensor.btn-check(type="radio" name="btnradio" value="device" autocomplete="off" onclick="GetGroupedSensors()")
      label.btn.btn-outline-primary(for="groupSensor") Device
      input#groupTopic.btn-check(type="radio" name="btnradio" value="topic" autocomplete="off" onclick="GetGroupedSensors()")
      label.btn.btn-outline-primary(for="groupTopic") Topic

    div.sensor-div
      table.table.table-striped.table-hover#sensor_table

  script.
    $(document).ready(function () {
      GetGroupedSensors();
      PopulateSensors();
      setInterval(UpdateOnce, 5000);
    });
