extends layout
block content
  div.main-container(style="height:960px")
    iframe(src=`${grafana_url}` title="Grafana" style="width:100%;height:100%")


  script.
    $(document).ready(function() {
    });
