extends layout

block extrahead
  link(rel="stylesheet" href="/stylesheets/shifts.css")
  script(src="/javascripts/shifts.js" type="text/javascript")


block content
  #contact_detail.modal.fade(tabindex="-1" aria-hidden="true" )
    .modal-dialog.modal-lg
      .modal-content(style="margin:10")
        .modal-header
          h5.modal-title Add or modify contact
          button.btn-close(type="button" data-bs-dismiss='modal' aria-label='Close')
        .modal-body.row
          table
            tbody
              tr
                th.py-3 First name
                td
                  input#first_name(type="text" size="24" name="first_name")
              tr
                th.py-3 Last name
                td
                  input#last_name(type="text" size="24" name="last_name")
              tr
                th.py-3 SMS
                td
                  input#sms(type='text' size="20" name="sms")
              tr
                th.py-3 Phone
                td
                 input#phone(type='text' size="20" name="sms")
              tr
                th.py-3 Email
                td
                  input#email(type='email' size="48" name='email')
              tr
                th.py-3 Expert?
                td
                  input#expert(type="checkbox" name="expert")
        .modal-footer
          button.btn.btn-primary(onclick="SubmitContact()") Submit


  div.main-container
    .row
      .col-lg-6
        h3 Current shifters
        hr
        ul#on_shift
      .col-lg-6
        h3 All contacts
        hr
        table.table.table-hover.table-striped(style="width:50%")
          thead
            tr
              th Name
              th On shift?
          tbody#shift_table

        button.btn.btn-primary(onclick="SubmitShifts()") Set shifters
        span &nbsp;
    .row
       .col-lg-12
         h3 Alarm configuration
         hr
         table.table.table-striped
           thead
             tr
               th
               th Level 0
               th Level 1
               th Level 2
               th Level 3
           tbody
             tr#silence_durations
             tr#escalation_settings
             tr#recipients
             tr#protocols
         button.btn.btn-primary.float-end(onclick="SetAlarmConfig()") Change config


  script.
    $(document).ready(function() {
      PopulateNavbar();
      PopulateTable();
      PopulateOnShift();
      PopulateAlarmConfig();
    });
    window.onclick = function(event) {
      var elems = document.getElementsByClassName("modal");
      for (var i = 0; i < elems.length; i++)
        if (event.target == elems[i]) elems[i].style.display = 'none';
    }
