extends layout

block extrahead
  script(src="javascripts/shifts.js" type="text/javascript")

block content
  #contact_detail.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title
            i.fas.fa-user
            span &nbsp; Contact information
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.row
          form#shift_form
            table
              tbody
                tr
                  th.py-3 First name&nbsp;
                  td
                    input#first_name(type="text" name="first_name")
                tr
                  th.py-3 Last name&nbsp;
                  td
                    input#last_name(type="text" name="last_name")
                tr
                  th.py-3 SMS
                  td
                    input#sms(type='text'  name="sms")
                tr
                  th.py-3 Email
                  td
                    input#email(type='email' size="35" name='email')
                tr
                  th.py-3 Expert?&nbsp;
                  th
                    input#expert(type="checkbox" name="expert")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='button' onclick="SubmitContact()") Save changes
  #new_contact.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title
            i.fas.fa-user
            span &nbsp; Contact information
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.row
          form#new_shift_form
            table
              tbody
                tr
                  th.py-3 First name&nbsp;
                  td
                    input#new_first_name(type="text" name="first_name")
                tr
                  th.py-3 Last name&nbsp;
                  td
                    input#new_last_name(type="text" name="last_name")
                tr
                  th.py-3 SMS
                  td
                    input#new_sms(type='text'  name="sms")
                tr
                  th.py-3 Email
                  td
                    input#new_email(type='email' size="35" name='email')
                tr
                  th.py-3 Expert?&nbsp;
                  th
                    input#new_expert(type="checkbox" name="expert")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-primary(type='button' onclick="SubmitNewContact()") Add Contact
  div.modal#delete_contact(tabindex="-1" role="dialog")
    div.modal-dialog(role="document")
      div.modal-content
        form#delete_form
          h4 Delete a shifter
          label(for="delete_name") Name:&nbsp;
          input#delete_name(type='text' name='delete_name' size='24')
          button.btn.btn-danger(onclick='DeleteShifter()') Submit
          span &nbsp;
          button.btn.btn-secondary(data-dismiss="modal") Close

  div.main-container(style="width:100%")
    .d-flex.flex-row
      .mr-auto.p-2
        button.btn.btn-primary.my-3(onclick="NewContact()")
          span
            | Add new &nbsp
            i.fas.fa-user

    table.table.table-hover.table-striped(style="width:50%")
      thead
        tr
          th Name
          th On shift?
      tbody#shift_table

    button.btn.btn-warning(onclick="SubmitShifts()") Set shifters
    button.btn.btn-danger(data-toggle="modal" data-target="#delete_contact") Delete shifter


  script.
    $(document).ready(function() {
      PopulateTable();
    });