#sidebar_wrapper {
  height: 100%;
  margin: 0;
  width: 65px;
  min-width: 65px;
  max-width: 65px;
  overflow: hidden;
  top: 0;
  position: fixed;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  margin: 0;
  padding: 0;
  display: block;
  width: 65px;
  text-align: center;
  position: fixed;
  background-color: #333333;
  color: #ffffff;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar ul li a {
  padding: 10px 2px;
  text-align: center;
  color: #e2e2e2;
  text-decoration:none;
  height: 100%;
}

#sidebar ul li :hover {
  color: #ffffff;
}

#sidebar ul li a i {
  margin-right: 5px;
  display: block;
  font-size: 1.5em;
  margin-bottom: 3px;
}

#sidebar ul li a span {
  margin-left: 0;
  font-size: 0.8em;
  display: block;
  margin-bottom: 3px;
}

ul.CTAs {
  padding: 10px;
}
ul.CTAs li a {
  text-align: center;
  font-size: 1em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar .sidebar-header strong {
  display: block;
}
#sidebar .CTAs {
  display: block;
}
#navbar {
  margin-left: 65px;
}
.main-container {
  margin-left: 65px;
  margin-top: 60px;
  width: 100%;
  position: relative;

}
:target {
  scroll-margin-top: 65px;
}
.toast{
  z-index: 9000 !important;
  position: absolute;
  align-items: center;
  color: white;
  border-style: none;
  top: 0;
  left: 50%;
  text-align: center;
}

