#sidebar_wrapper {
  height: 100%;
  margin: 0;
  width: 65px;
  min-width: 65px;
  max-width: 65px;
  overflow: hidden;
  top: 0;
  position: fixed;
}
#sidebar {
  margin: 0;
  padding: 0;
  display: block;
  width: 65px;
  text-align: center;
  position: fixed;
  background-color: #333333;
  color: #ffffff;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar ul li a {
  padding: 10px 2px;
  text-align: center;
  color: #e2e2e2;
  text-decoration:none;
  height: 100%;
}
#sidebar ul li :hover {
  color: #ffffff;
  fill: #ffffff;
}

#sidebar ul li a i {
  display: block;
  font-size: 1.5em;
  margin-bottom: 3px;
}

#sidebar ul li a svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}
#sidebar ul li a span {
  margin-left: 0;
  font-size: 0.8em;
  display: block;
  margin-bottom: 3px;
}

ul.CTAs {
  padding: 10px;
}
ul.CTAs li a {
  text-align: center;
  font-size: 1em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar .sidebar-header strong {
  display: block;
}
#sidebar .CTAs {
  display: block;
}



@media (max-width: 992px) {
  .navbar-nav .nav-item {
    padding: 0.5rem 0;
  }
}

#navbar {
  margin-left: 65px;
}
.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}
.main-container {
  margin-left: 65px;
  margin-top: 60px;
  padding: 10px;
  width: calc(100% - 65px);
  position: relative;
}
:target {
  scroll-margin-top: 65px;
}
.toast{
  z-index: 9000 !important;
  position: fixed;
  align-items: center;
  color: white;
  border-style: none;
  top: 0;
  left: 50%;
  text-align: center;
}

.nav-item{
  white-space: nowrap;
  padding-right: 20px;
}

.action_button i {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

#pipelines_of_sensor_table tbody tr td {
  vertical-align: middle;
}

.tooltip-inner {
  white-space: pre-wrap;
}

#login_help  {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.modal-container {
  position: relative;
  z-index: 1050;
}

.modal-backdrop {
  z-index: 1040;
}

.modal-backdrop + .modal-backdrop {
  z-index: 1040;
}

#silence_dropdown.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

#sensorbox.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.05);
}

#device_sensors {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0; /* Remove left padding to align items fully */
}

#device_sensors li {
  flex: 0 0 33%; /* Each list item takes 50% of the container width */
  margin-bottom: 10px;
}
