
.sensor-div {
  width: 100%;
}
.sensor-div table {
  background-color: #eee;
}
.sensor-div th {
  background-color: #ccc;
}
.sensor-div tr {
  background-color: #eee
}
.sensor-div tr:nth-child(even) {
  background-color: #e7e7e7;
}
.sensor-div tr:hover {
  background-color: #ddd;
}
