.table tbody tr td {
  word-wrap: break-word;
  max-width: 300px;
  vertical-align: middle;
}

.action_button {
  margin-right: 10px;
}

#clear_search_btn {
  margin-left: -40px;
  z-index: 100;
}



.jsoneditor-dark div.jsoneditor,
.jsoneditor-dark div.jsoneditor-menu {
  border-color: #4b4b4b;
}
.jsoneditor-dark div.jsoneditor-menu {
  background-color: #4b4b4b;
}
.jsoneditor-dark div.jsoneditor-tree,
.jsoneditor-dark div.jsoneditor textarea.jsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}
.jsoneditor-dark div.jsoneditor-field,
.jsoneditor-dark div.jsoneditor-value {
  color: #ffffff;
}
.jsoneditor-dark div.jsoneditor-frame {
  background-color: #808080;
}
.jsoneditor-dark .jsoneditor-search input {
  background-color: #808080;
  color: #e2e2e2;
}
.jsoneditor-dark table.jsoneditor-search div.jsoneditor-frame {
  background-color: #f10000;
}
.jsoneditor-dark tr.jsoneditor-highlight,
.jsoneditor-dark tr.jsoneditor-selected {
  background-color: #808080;
}
.jsoneditor-dark div.jsoneditor-field[contenteditable=true]:focus,
.jsoneditor-dark div.jsoneditor-field[contenteditable=true]:hover,
.jsoneditor-dark div.jsoneditor-value[contenteditable=true]:focus,
.jsoneditor-dark div.jsoneditor-value[contenteditable=true]:hover,
.jsoneditor-dark div.jsoneditor-field.jsoneditor-highlight,
.jsoneditor-dark div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}
.jsoneditor-dark div.jsoneditor-field.highlight-active,
.jsoneditor-dark div.jsoneditor-field.highlight-active:focus,
.jsoneditor-dark div.jsoneditor-field.highlight-active:hover,
.jsoneditor-dark div.jsoneditor-value.highlight-active,
.jsoneditor-dark div.jsoneditor-value.highlight-active:focus,
.jsoneditor-dark div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}
.jsoneditor-dark div.jsoneditor-tree button:focus {
  background-color: #868686;
}
/* coloring of JSON in tree mode */
.jsoneditor-dark div.jsoneditor-readonly {
  color: #acacac;
}
.jsoneditor-dark div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-object,
.jsoneditor-dark div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
.jsoneditor-dark div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}