#on_shift {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#on_shift li {
    margin-bottom: 20px;
}

#on_shift .card .card-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#on_shift .card .card-body ul li {
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

#shift_table tr td,
#shift_head tr th {
    text-align: center;
    vertical-align: middle;
}

#shift_table tr td:first-child,
#shift_head tr th:first-child {
    text-align: left;
}

#shift_table tr td i.fa-trash:hover {
    color: var(--bs-danger);
}

.row {
    margin: 10px;
}